@charset "UTF-8";
/*Import*/
/*VARIABLES*/
p {
  color: black;
  font-size: 12pt;
  font-family: -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; }

h2 {
  color: #141414;
  font-size: 20pt;
  font-family: -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center; }

h3 {
  color: #141414;
  font-size: 14pt;
  font-family: -apple-system, 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif; }

ul li {
  list-style: none; }

/*Este es mi código css del archivo html*/
/*INDEX*/
.nav-link {
  margin-left: 25px;
  margin-right: 25px; }

.nav-redes {
  margin-left: 35px;
  margin-top: 3px; }

.index {
  margin: 0px;
  padding: 0px;
  background-color: #fdf5ee; }

.index div {
  margin-left: 10px;
  margin-right: 10px; }

.index h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px; }

.container-fluid {
  font-size: 20px; }

.encabezado {
  margin-top: 14,5px; }

.t-noticias {
  margin-top: 30px;
  text-align: center; }

.noticia-pic1 {
  margin-left: 65px;
  margin-right: 70px; }

.noticia-pic2 {
  margin-left: 50px;
  margin-right: 50px; }

.noticia-pic3 {
  margin-left: 65px;
  margin-right: 70px; }

.grids-n {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "gp1 gp2 gp3"; }

.gp1 {
  grid-area: gp1; }

.gp2 {
  grid-area: gp2; }

.gp3 {
  grid-area: gp3; }

.grillas-i {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 230px 200px 310px 170px 190px;
  grid-template-areas: "g2 g8 g11" "g3 g9 g12" "g4 g10 g13" "g5 g10 g13" "g6 g10 g13"; }

.g2 {
  grid-area: g2; }

.g3 {
  grid-area: g3;
  margin-bottom: 0px; }

.g4 {
  grid-area: g4;
  margin-bottom: 0px; }

.g5 {
  grid-area: g5;
  margin-bottom: 0px; }

.g6 {
  grid-area: g6;
  margin-bottom: 0px; }

.g8 {
  grid-area: g8;
  margin-bottom: 0px; }

.g9 {
  grid-area: g9;
  margin-bottom: 0px; }

.g10 {
  grid-area: g10;
  margin-bottom: 0px; }

.g11 {
  grid-area: g11;
  margin-bottom: 0px; }

.g12 {
  grid-area: g12;
  margin-bottom: 0px; }

.g13 {
  grid-area: g13;
  margin-bottom: 0px; }

.bordesRedondeados {
  border-radius: 20px; }

.servicios {
  margin: 0px;
  padding: 20px;
  background-color: #e4e4e4; }
  .servicios .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "grid01 grid02" "grid03 grid04" "grid05 grid06" "grid07 grid08" "grid09 grid10" "grid11 grid12" "grid13 grid14" "grid15 grid16" "grid17 grid18" "grid19 grid20"; }
  .servicios .grid01 {
    grid-area: grid01; }
  .servicios .grid02 {
    grid-area: grid02; }
  .servicios .grid03 {
    grid-area: grid03; }
  .servicios .grid04 {
    grid-area: grid04; }
  .servicios .grid05 {
    grid-area: grid05; }
  .servicios .grid06 {
    grid-area: grid06; }
  .servicios .grid07 {
    grid-area: grid07; }
  .servicios .grid08 {
    grid-area: grid08; }
  .servicios .grid09 {
    grid-area: grid09; }
  .servicios .grid10 {
    grid-area: grid10; }
  .servicios .grid11 {
    grid-area: grid11; }
  .servicios .grid12 {
    grid-area: grid12; }
  .servicios .grid13 {
    grid-area: grid13; }
  .servicios .grid14 {
    grid-area: grid14; }
  .servicios .grid15 {
    grid-area: grid15; }
  .servicios .grid16 {
    grid-area: grid16; }
  .servicios .grid17 {
    grid-area: grid17; }
  .servicios .grid18 {
    grid-area: grid18; }
  .servicios .grid19 {
    grid-area: grid19; }
  .servicios .grid20 {
    grid-area: grid20; }
  .servicios h3 {
    color: #2fa380; }

/*Sección: consejos de alimentación*/
.consejosDeAlimentacion {
  background-color: #e4e4e4; }

/*Sección: cuidados*/
.cuidados {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210327/pngtree-cute-dog-tiled-background-bone-claw-print-image_595775.jpg); }

/*Sección razas*/
.razas {
  background-color: #e4e4e4; }
  .razas .grillaRazas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "raza1 raza2 raza3 raza4" "raza5 raza6 raza7 raza8" "raza9 raza10 raza11 raza12" "raza13 raza14 raza15 raza16"; }
  .razas .raza1 {
    grid-area: raza1;
    margin-bottom: 40px; }
  .razas .raza2 {
    grid-area: raza2; }
  .razas .raza3 {
    grid-area: raza3; }
  .razas .raza4 {
    grid-area: raza4; }
  .razas .raza5 {
    grid-area: raza5;
    margin-bottom: 40px; }
  .razas .raza6 {
    grid-area: raza6; }
  .razas .raza7 {
    grid-area: raza7; }
  .razas .raza8 {
    grid-area: raza8; }
  .razas .raza9 {
    grid-area: raza9;
    margin-bottom: 40px; }
  .razas .raza10 {
    grid-area: raza10; }
  .razas .raza11 {
    grid-area: raza11; }
  .razas .raza12 {
    grid-area: raza12; }
  .razas .raza13 {
    grid-area: raza13;
    margin-bottom: 40px; }
  .razas .raza14 {
    grid-area: raza14; }
  .razas .raza15 {
    grid-area: raza15; }
  .razas .raza16 {
    grid-area: raza16; }

.husky {
  background-color: #e4e4e4; }

.pastor {
  background-color: #e4e4e4; }

.boxer {
  background-color: #e4e4e4; }

.pug {
  background-color: #e4e4e4; }

.weimaraner {
  background-color: #e4e4e4; }

.bulldog {
  background-color: #e4e4e4; }

.dalmata {
  background-color: #e4e4e4; }

.schnauzer {
  background-color: #e4e4e4; }

.chihuahua {
  background-color: #e4e4e4; }

.dobermann {
  background-color: #e4e4e4; }

.rottweiler {
  background-color: #e4e4e4; }

.labrador {
  background-color: #e4e4e4; }

.boyero {
  background-color: #e4e4e4; }

.border {
  background-color: #e4e4e4; }

.beagle {
  background-color: #e4e4e4; }

.chow {
  background-color: #e4e4e4; }

/*Sección foro*/
.petshop {
  background-color: #e4e4e4; }
  .petshop .grid-petshop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "gs1 gs2" "gs3 gs4" "gs5 gs6" "gs7 gs8" "gs9 gs10" "gs11 gs12" "gs13 gs14" "gs15 gs16" "gs17 gs18" "gs19 gs20"; }
  .petshop .gs1 {
    grid-area: gs1; }
  .petshop .gs2 {
    grid-area: gs2; }
  .petshop .gs3 {
    grid-area: gs3; }
  .petshop .gs4 {
    grid-area: gs4; }
  .petshop .gs5 {
    grid-area: gs5; }
  .petshop .gs6 {
    grid-area: gs6; }
  .petshop .gs7 {
    grid-area: gs7; }
  .petshop .gs8 {
    grid-area: gs8; }
  .petshop .gs9 {
    grid-area: gs9; }
  .petshop .gs10 {
    grid-area: gs10; }
  .petshop .gs11 {
    grid-area: gs11; }
  .petshop .gs12 {
    grid-area: gs12; }
  .petshop .gs13 {
    grid-area: gs13; }
  .petshop .gs14 {
    grid-area: gs14; }
  .petshop .gs15 {
    grid-area: gs15; }
  .petshop .gs16 {
    grid-area: gs16; }
  .petshop .gs17 {
    grid-area: gs17; }
  .petshop .gs18 {
    grid-area: gs18; }
  .petshop .gs19 {
    grid-area: gs19; }
  .petshop .gs20 {
    grid-area: gs20; }
  .petshop .img-ropa {
    margin-top: 30px;
    margin-left: 80px; }
  .petshop .petshop p {
    margin-top: 20px; }
