@charset "UTF-8";
/*Import*/
/*VARIABLES*/
p {
  color: black;
  font-size: 12pt;
  font-family: sans-serif; }

h2 {
  color: #141414;
  font-size: 20pt;
  font-family: sans-serif;
  text-align: center; }

h3 {
  color: #141414;
  font-size: 14pt;
  font-family: sans-serif; }

ul li {
  list-style: none; }

/*Este es mi código css del archivo html*/
/*INDEX*/
.index {
  margin: 0px;
  padding: 0px;
  background-color: #e4e4e4; }

.index div {
  margin-left: 5px;
  margin-right: 5px; }

.index h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left; }

.grillas-i¨ {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "g1" "g2" "g3"  "g4"  "g5" "g6" "g7" "g8" "g9" "g10"; }

.bordesRedondeados {
  border-radius: 20px; }

.servicios {
  margin: 0px;
  padding: 20px;
  background-color: #e4e4e4; }
  .servicios .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "grid01 grid02" "grid03 grid04" "grid05 grid06" "grid07 grid08" "grid09 grid10" "grid11 grid12" "grid13 grid14" "grid15 grid16" "grid17 grid18" "grid19 grid20"; }
  .servicios .grid01 {
    grid-area: grid01; }
  .servicios .grid02 {
    grid-area: grid02; }
  .servicios .grid03 {
    grid-area: grid03; }
  .servicios .grid04 {
    grid-area: grid04; }
  .servicios .grid05 {
    grid-area: grid05; }
  .servicios .grid06 {
    grid-area: grid06; }
  .servicios .grid07 {
    grid-area: grid07; }
  .servicios .grid08 {
    grid-area: grid08; }
  .servicios .grid09 {
    grid-area: grid09; }
  .servicios .grid10 {
    grid-area: grid10; }
  .servicios .grid11 {
    grid-area: grid11; }
  .servicios .grid12 {
    grid-area: grid12; }
  .servicios .grid13 {
    grid-area: grid13; }
  .servicios .grid14 {
    grid-area: grid14; }
  .servicios .grid15 {
    grid-area: grid15; }
  .servicios .grid16 {
    grid-area: grid16; }
  .servicios .grid17 {
    grid-area: grid17; }
  .servicios .grid18 {
    grid-area: grid18; }
  .servicios .grid19 {
    grid-area: grid19; }
  .servicios .grid20 {
    grid-area: grid20; }
  .servicios h3 {
    color: #2fa380; }

/*Sección: consejos de alimentación*/
.consejosDeAlimentacion {
  background-color: #e4e4e4; }

/*Sección: cuidados*/
.cuidados {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210327/pngtree-cute-dog-tiled-background-bone-claw-print-image_595775.jpg); }

/*Sección razas*/
.razas {
  background-color: #e4e4e4; }
  .razas .grillaRazas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "raza1 raza2 raza3 raza4" "raza5 raza6 raza7 raza8" "raza9 raza10 raza11 raza12" "raza13 raza14 raza15 raza16"; }
  .razas .raza1 {
    grid-area: raza1;
    margin-bottom: 40px; }
  .razas .raza2 {
    grid-area: raza2; }
  .razas .raza3 {
    grid-area: raza3; }
  .razas .raza4 {
    grid-area: raza4; }
  .razas .raza5 {
    grid-area: raza5;
    margin-bottom: 40px; }
  .razas .raza6 {
    grid-area: raza6; }
  .razas .raza7 {
    grid-area: raza7; }
  .razas .raza8 {
    grid-area: raza8; }
  .razas .raza9 {
    grid-area: raza9;
    margin-bottom: 40px; }
  .razas .raza10 {
    grid-area: raza10; }
  .razas .raza11 {
    grid-area: raza11; }
  .razas .raza12 {
    grid-area: raza12; }
  .razas .raza13 {
    grid-area: raza13;
    margin-bottom: 40px; }
  .razas .raza14 {
    grid-area: raza14; }
  .razas .raza15 {
    grid-area: raza15; }
  .razas .raza16 {
    grid-area: raza16; }

/*Sección foro*/
.foro {
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column; }
  .foro img {
    width: 300px 350;
    margin: 10px; }
    .foro img a:hover {
      color: red; }
