




@media only screen and (max-width: 768px) {
    
    .index {
        width: 100%;
    }

    .t-noticias {
        .noticia-pic1 {
            width: 100px;
        }

        .noticia-pic2 {
            width: 100px;
        }

        .noticia-pic3   {
            width: 100px;
        }

    }
    


}

@media only screen and (max-width:768px) {
  .servicios {
    max-width: 100%;
  }
  .mapa {
    height: 300px;
  }

  .grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "grid01"
      "grid02"
      "grid03"
      "grid04"
      "grid05"
      "grid06"
      "grid07"
      "grid08"
      "grid09"
      "grid10"
      "grid11"
      "grid12"
      "grid13"
      "grid14"
      "grid15"
      "grid16"
      "grid17"
      "grid18"
      "grid19"
      "grid20";
  }
}