/*Import*/
@import "responsive";

/*VARIABLES*/ 
$negro: black;
$alto: 500px;
$ancho: 500px;


p {
  color: $negro;
  font-size: 12pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h2 {
  color: rgb(20, 20, 20);
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

h3 {
  color: rgb(20, 20, 20);
  font-size: 14pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul li {
  list-style: none;
}
/*Este es mi código css del archivo html*/

.index {
  background-image:
  url(https://png.pngtree.com/thumb_back/fh260/background/20210327/pngtree-cute-dog-tiled-background-bone-claw-print-image_595775.jpg);
}

#uno {
  display: flex;
  padding: 20px;
}
.nav-link {
  margin: 15px;
  padding: 0px;
}

.bordesRedondeados {
  border-radius: 20px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;

  li {
    margin-left: 15px;
    width: 100px;
    height: 50px;
    background-color: cornsilk;
  }
}

#dos {
  display: flex;
  padding: 20px;
  
  background-color: darkcyan;
  display: flex;

  li {
    margin-right: 20px;
    width: 90px;
    height: 40px;
  }
}

#tres {
  display: flex;
  
  padding: 20px;
  
  background-color: rgb(0, 139, 139);
}

.servicios {
  margin: 0px;
  padding: 20px;
  
  background-color: rgb(228, 228, 228);

  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "grid01 grid02"
      "grid03 grid04"
      "grid05 grid06"
      "grid07 grid08"
      "grid09 grid10"
      "grid11 grid12"
      "grid13 grid14"
      "grid15 grid16"
      "grid17 grid18"
      "grid19 grid20";
  }

  .grid01 {
    grid-area: grid01;
  }
  .grid02 {
    grid-area: grid02;
  }

  .grid03 {
    grid-area: grid03;
  }

  .grid04 {
    grid-area: grid04;
  }
  .grid05 {
    grid-area: grid05;
  }
  .grid06 {
    grid-area: grid06;
  }

  .grid07 {
    grid-area: grid07;
  }
  .grid08 {
    grid-area: grid08;
  }

  .grid09 {
    grid-area: grid09;
  }

  .grid10 {
    grid-area: grid10;
  }

  .grid11 {
    grid-area: grid11;
  }
  .grid12 {
    grid-area: grid12;
  }

  .grid13 {
    grid-area: grid13;
  }

  .grid14 {
    grid-area: grid14;
  }

  .grid15 {
    grid-area: grid15;
  }
  .grid16 {
    grid-area: grid16;
  }
  .grid17 {
    grid-area: grid17;
  }

  .grid18 {
    grid-area: grid18;
  }

  .grid19 {
    grid-area: grid19;
  }
  .grid20 {
    grid-area: grid20;
  }
 
  h3{
    color: rgb(47, 163, 128);
  }
}

/*Sección: consejos de alimentación*/

.consejosDeAlimentacion {
  
  margin: 20px;
  padding: 20px;
  border: solid 3px black;
  background-color: rgb(191, 250, 103);
}

/*Sección: cuidados*/
.cuidados {
  
  margin: 20px;
  padding: 20px;
  border: solid 3px black;
  background-image:
  url(https://png.pngtree.com/thumb_back/fh260/background/20210327/pngtree-cute-dog-tiled-background-bone-claw-print-image_595775.jpg);
}

/*Sección razas*/
.razas {
  background-color: rgb(180, 180, 180);
}
/*Sección foro*/
.foro {
  
  margin: 20px;
  padding: 20px;
  border: solid 3px black;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;

  img {
    width: 300px 350;
    margin: 10px;

    a:hover {
      color: red;
    }
  }
}
/*TRANSFORMACIONES*/

/*Línea de tiempo*/

.transformaciones2 {
  margin: 50px;
  padding: 20px;
  width: $alto;
  height: ($ancho/2)-50;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.infobae.com%2Famerica%2Fperrosygatos%2F2021%2F04%2F11%2Fque-tips-tener-en-cuenta-para-jugar-con-tu-perro%2F&psig=AOvVaw3uUADsnA0t9_zhCPyOLlSc&ust=1620340445847000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPjZoObMs_ACFQAAAAAdAAAAABAK);
  animation: form infinite 2s;
}

@keyframes form {
  0% {
    transform: scale(0.5);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

.jumbo-bg {
  background-image: url(../../Multimedia/gran-manada.jpg);
  margin: 20px;
  padding: 20px;
}

